.product-page {
  background: #f4f5f7;
  padding: 1rem 1rem;
}

.product-container {
  max-width: 89rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.pd-all-products{
  margin-top: 1rem;
}