.policy-page {
    width: 100%;
    min-height: 100vh;
    padding: 1rem 1rem;
    background: #fff;
    box-sizing: border-box;
}

.policy-container {
    width: 100%;
    max-width: 89rem;
    margin: auto;
}

.policy-container h1 {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #111827;
    text-align: center;
}

.policy-content {
    font-size: 1.2rem;
    line-height: 1.9;
    color: black;
    white-space: pre-wrap;
}