.navbar {
  height: 4.5vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0.8vw 4vw;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.logo-img {
  height: 2vw;
}

/* LEFT */
.navbar-left {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.search-box {
  width: 40vw;
  height: 100%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  padding: 0 1vw;
  border-radius: 0.2vw;
  font-size: 1vw;
  background-color: var(--search-bg-color);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* SEARCH */
.search-box input {
  border: none;
  outline: none;
  font-size: 1.2vw;
  font-weight: 500;
  background-color: var(--search-bg-color);
}

.search-icon {
  height: 1.5vw;
  width: 1.5vw;
  color: var(--gray-color);
}

/* RIGHT */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2vw;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5vw;
  font-size: 1.1vw;
  font-weight: 500;
  cursor: pointer;
  color: var(--gray-color);
}

.nav-item:hover {
  color: var(--primary-color);
}

.nav-item-user {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5vw;
  font-size: 1.1vw;
  font-weight: 500;
  cursor: pointer;
  color: var(--gray-color);
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
}

.nav-item-user:hover {
  background-color: var(--primary-color);
  color: white;
}

.nav-cart-inline {
  display: flex;
  position: relative;
}

.nav-item-icon {
  height: 1.5vw;
  width: 1.5vw;
}

.nav-item-count {
  position: absolute;
  background-color: var(--primary-color);
  color: white;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  font-size: 0.8vw;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -0.5vw;
  right: -0.5vw;
}

.icon-text {
  font-size: 1.1vw;
  font-weight: 500;
}


/* ========== TABLET ========== */
@media (max-width: 1024px) {
  .navbar {
    height: 4rem;
    padding: 0 1.5rem;
  }

  .logo img {
    height: 2.2rem;
  }

  .search-box input {
    width: 20rem;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0 0.75rem;
  }

  .navbar-right {
    gap: 1.5rem;
  }

  .icon-item {
    font-size: 1rem;
  }

  .icon-item img {
    height: 1.3rem;
  }
}


/* ========== MOBILE ========== */
@media (max-width: 768px) {
  .navbar {
    height: 3.8rem;
    padding: 0 1rem;
  }

  .search-box input {
    width: 12rem;
    height: 2.3rem;
    font-size: 0.9rem;
  }

  .navbar-right span {
    display: none;
    /* hide text */
  }

  .icon-item img {
    height: 1.4rem;
  }
}