:root {
  --primary-color: #2d4bc7;
  --search-bg-color: #f6f4ff;
  --gray-color: #aaaaaa;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Arial, sans-serif;
}